pygame_env
social_lstm/*txt
social_lstm/save_v1
social_lstm/social_model.ckpt-4000*
social_lstm/social_model.ckpt-4400*
social_lstm/social_model.ckpt-4800*
social_lstm/social_model.ckpt-5200*
social_lstm/results
social_lstm/*.pyc

navigation_map/ver1/*.pyc
navigation_map/ver1/*_bk*
navigation_map/ver1/*.pkl

env/*.pyc
env/*/*.pyc
env/*/*/*.pyc
env/*.swp
env/*/*.swp
env/*/*/*.swp

DDPG/*.pyc
DDPG/*.swp
DDPG/*/*.pyc
DDPG/*/*.swp
